a,  a:active, a:hover {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100vw;
}

nav ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

main .posts-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .add-button {
    display: flex;
    justify-content: center;
    margin: 5vh 0 5vh 0;
}

main .add-button:hover {
    display: flex;
    justify-content: center;
    background-color: #5b80b2;
    border-radius: 10px;
    opacity: 0.5;
}

main .add-button:hover a {
    color: #fff;
}

main .posts-list a {
    display: flex;
    flex-direction: row;
    background-color: rgba(18, 169, 180, 0.7);
    margin-bottom: 12vh;
}

main .posts-list .list-view .lv-item-text {
    width: 26vw;
    position: absolute;
    visibility: hidden;
}

main .posts-list .list-view:hover .lv-item-text {
    width: 26vw;
    position: absolute;
    visibility: visible;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

main .posts-list div.list-view img {
    width: 26vw;
    position: relative;
}

main .posts-list div.list-view:hover img {
    width: 26vw;
    position: relative;
    z-index: -1;
}